<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Auth</title></head>
<body>
<form action="/users/register" method="post">
    <label>First Name:
        <input type="text" name="firstname"/>
    </label>
    <label>Last Name:
        <input type="text" name="lastname"/>
    </label>
    <label>Email:
        <input type="text" name="email"/>
    </label>
    <label>Username:
        <input type="text" name="username"/>
    </label>
    <label>Password:
        <input type="password" name="password"/>
    </label>
    <button type="submit">Register</button>
</form>
</body>
</html>
